{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html>
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        Human Milk Bank
    </title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Datepicker/datepicker3.css' %}">
    <script src="{% static 'Datepicker/bootstrap-datepicker.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
    
</head>
<body>

    <div id="mainContainer">
		<!-- Main Contents Start-->
		<!-- Add Header file -->
		{% include "header.html" %}

		<!-- Add Side Menu bar -->
		{% include "sidebar.html" %}
		<div class="container" style="width:100% ;margin: 0; float: left">
			<div id="page-wrapper" style="">

				<div id="page-inner" style="text-align: center;">
				
				<div class="row" style="font-size: 15px; color: #f20c0c;">

					<div class="col-md-6">
						<!-- Form Elements -->
						<div class="panel panel-primary" style="box-shadow: 8px 8px grey; border-radius: 15px 50px;">
							<div class="panel-heading panelHead" style="background-color: ; border-radius: 10px 40px">Total Collection</div>
								<div class="panel-body" style="font-size: 32px">
	                     			<b>Collection Tot </b>
	                     		</div>
						</div>
					</div>
					
					<!-- ********************* -->
					
					<div class="col-md-6">
						<!-- Form Elements -->
						<div class="panel panel-info" style="box-shadow: 8px 8px grey; background-color: ; border-radius: 15px 50px">
							<div class="panel-heading panelHead" style="background-color: ; border-radius: 15px 50px">Total Dispense</div>
							<div class="panel-body" style="font-size: 32px">
								<b>Dispense Tot </b>
							</div>
						</div>
					</div>
				</div>
<br><br>
<!-- ************************************************************* -->

				<div class="row" style="font-size: 15px; color: red;">
					<div class="col-md-3">						
						<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
							<div class="panel-body text-center" style="font-size: 32px">
		                     	<p> <img src="{% static 'img/icon/rec.png' %}" height="70"></p>
		                     	<h4><a href="donar_register" class="btn btn-success">Donar Mother Form</a></h4>
		                     </div>
						</div>
					</div>
					
					<div class="col-md-3">						
						<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
							<div class="panel-body text-center" style="font-size: 32px">
		                     	<p><img src="{% static 'img/icon/own.png' %}" height="70"></p>
		                     	<h4><a href="own_mother_register" class="btn btn-success">Own Mother Form</a></h4>
		                     </div>
						</div>
					</div>
					
					<div class="col-md-3">						
						<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
							<div class="panel-body text-center" style="font-size: 32px">
		                     	<p><img src="{% static 'img/icon/past.png' %}" height="70"></p>
		                     	<h4><a href="pasturization" class="btn btn-success">Pasturization Form</a></h4>
		                     </div>
						</div>
					</div>
					
					<div class="col-md-3">						
						<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
							<div class="panel-body text-center" style="font-size: 32px">
		                     	<p><img src="{% static 'img/icon/culture.png' %}" height="70"></p>
		                     	<h4><a href="culture" class="btn btn-success">Culture Form</a></h4>
		                     </div>
						</div>
					</div>
				</div>
				<div class="row" style="font-size: 15px; color: red;">
					<div class="col-md-3">						
							<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
								<div class="panel-body text-center" style="font-size: 32px">
			                     	<p><img src="{% static 'img/icon/discard.png' %}" height="70"></p>
			                     	<h4><a href="discard" class="btn btn-success">Discard Form</a></h4>
			                     </div>
							</div>
						</div>
						
						<div class="col-md-3">						
							<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
								<div class="panel-body text-center" style="font-size: 32px">
			                     	<p><img src="{% static 'img/icon/dispense.png' %}" height="70"></p>
			                     	<h4><a href="dispense" class="btn btn-success">Dispense Form</a></h4>
			                     </div>
							</div>
						</div>
						
						<div class="col-md-3">						
							<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
								<div class="panel-body text-center" style="font-size: 32px">
			                     	<p><img src="{% static 'img/icon/store.png' %}" height="70"></span></p>
			                     	<h4><a href="#" class="btn btn-success">Store Summary</a></h4>
			                     </div>
							</div>
						</div>
						
						<div class="col-md-3">						
							<div class="panel panel-primary" style="box-shadow: 3px 3px grey; border-radius: 5px 5px;">								
								<div class="panel-body text-center" style="font-size: 32px">
			                     	<p><img src="{% static 'img/icon/royalty.png' %}" height="70"></p>
			                     	<h4><a href="#" class="btn btn-success">Royalty Card</a></h4>
			                     </div>
							</div>
						</div>
					</div>
    
    <!-- ************************************************************* -->


		<!-- jumbotron class end -->


	</div>
	<!-- /. PAGE INNER CLASS END -->

	</div>
	<!-- /. PAGE WRAPPER CLASS END -->
			
		</div>
		<!-- Main Contents End-->
	</div>
</body>
</html>
