<div style="width: 100%; margin: 10px 0px 0px 0px; float: left;">
            <!-- /. NAV TOP  -->
            <div class="navbar" style="margin-top: 48px; margin-left: -1px;">
		<nav class="navbar-default navbar-side" role="navigation">
                    <div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
                            <br>
                            <!-- ***************** Admin Home ******************* -->
                            <li><a href="#">Admin Dashboard<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="index"><i class=""></i>Home</a></li>
                                    <li><a href="changepass"><i class=""></i>Change Password</a></li>
                                    <!--<li><a href="#"><i class=""></i>Security Question</a></li>-->
                                    <li><a href=""><i class=""></i>Logout</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Recipient Mother Registration******************* -->
                            <li><a href="#">Donar Mother Registration<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="donar_register"><i class=""></i>Donar Mother Form </a></li>
                                    <li><a href="donar_today_collect"><i class=""></i>Sample Collection- Today</a></li>
                                    <li><a href="donar_mini_statement"><i class=""></i>Mini Statement</a></li>
                                    <li><a href="donar_detail_statement"><i class=""></i>Detail Statement</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Own Mother Registration******************* -->
                            <li><a href="#"> Own Mother Registration<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="own_mother_register"><i class=""></i>Own Mother Form </a></li>
                                    <li><a href="own_to_donar"><i class=""></i>Convert Own to Recipient </a></li>
                                    <li><a href="own_today_collect"><i class=""></i>Sample Collection- Today</a></li>
                                    <li><a href="own_mini_statement"><i class=""></i>Mini Statement</a></li>
                                    <li><a href="own_detail_statement"><i class=""></i>Detail Statement</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Pasturization******************* -->
                            <li><a href="#"> Pasturization<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="pasturization"><i class=""></i>Pasturization Form </a></li>
                                    <li><a href="past_today_collect"><i class=""></i>Today's Statement</a></li>
                                    <li><a href="past_mini_statement"><i class=""></i>Mini Statement</a></li>
                                    <li><a href="past_detail_statement"><i class=""></i>Detail Statement</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Culture******************* -->
                            <li><a href="#"> Culture<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="culture"><i class=""></i>Culture Form </a></li>
                                    <li><a href="culture_today_collect"><i class=""></i>Today's Statement</a></li>
                                    <li><a href="culture_mini_statement"><i class=""></i>Mini Statement</a></li>
                                    <li><a href="culture_detail_statement"><i class=""></i>Detail Statement</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Discard******************* -->
                            <li><a href="#"> Discard<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="discard"><i class=""></i>Discard Form </a></li>
                                    <li><a href="discard_today_collect"><i class=""></i>Today's Statement</a></li>
                                    <li><a href="discard_mini_collect"><i class=""></i>Mini Statement</a></li>
                                    <li><a href="discard_detail_collect"><i class=""></i>Detail Statement</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Dispense******************* -->
                            <li><a href="#"> Dispense<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="dispense"><i class=""></i>Dispense Form </a></li>
                                    <li><a href="dispense_today_collect"><i class=""></i>Today's Statement</a></li>
                                    <li><a href="dispense_mini_collect"><i class=""></i>Mini Statement</a></li>
                                    <li><a href="dispense_detail_collect"><i class=""></i>Detail Statement</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Royalty Card******************* -->
                            <li><a href="#"> Royalty Card<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                     <!-- <li><a href="rcardform"><i class=""></i>Royalty Card Form </a></li> -->
                                    <li><a href="#"><i class=""></i>Royalty Card List</a></li>
                                </ul>
                            </li>
                            <!-- ***************** Store******************* -->
                            <li><a href="#"> Store<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                	<li><a href="#"><i class=""></i>Store Summary </a></li>
                                </ul>
                            </li>
                            <!-- ***************** All MIS Reports ******************* -->
                            <li><a href="#"> Reports<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="#"><i class=""></i>Recipient Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class=""></i>Own Milk Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#"><i class=""></i>Pasturization Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class=""></i>Culture Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class=""></i>Negative Samples Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class=""></i>Positive Samples Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class=""></i>All Dispense Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class=""></i>Dispense Recipient Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#"><i class=""></i>Dispense Own Mother Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#"><i class=""></i>Dispense Royalty Card Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#"><i class=""></i>Dispense Other Report<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="#">Date wise Report</a></li>
                                            <li><a href="#">Mini Statement</a></li>
                                            <li><a href="#">Detailed Statement</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" target="_BLANK"><i></i>Royalty Card Report</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>